*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(./share/bg.gif);
}
.container{
    background-color: white;
    width: 1200px;
    margin: auto;
}

.header{
    background-color: beige;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.header h1{

}
.header h1 img{

}
.header ul{
    display: flex;
    align-items: center;
}
.header li{
    list-style: none;
    margin-right: 5px;
}
.header li a{}
.header li a:hover{
    color: red;
}

.banner{}
.banner img{
    vertical-align: bottom;
}

.flex_box{
    display: flex;
}
.nav{
    background-color: violet;
    width: 150px;
    padding: 20px;
}
.nav ul{
 
}
.nav li{
    list-style: none;
}
.nav li span{
    vertical-align: bottom;
}
.nav li a {
    display: block;
    height: 50px;
    text-decoration: none;
    border-bottom: black 5px dashed;
}
.nav li a:hover{
    color: white;
}

/*CSS偽類使用說明：https://www.oxxostudio.tw/articles/201405/css-selector.html*/
.nav li:last-child a{
    border: none;
}

.content{
    background-color: #F8C3CD;
    width: 1050px;
}
.content h3{
    background-image: url(./share/title_bg.png);
    width: 600px;
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
}
.content h4{
    background-color: #89916B;
    border-left: black 20px solid;
    width: 400px;
    padding: 10px;
    margin-bottom: 15px;
}
.content p{
    margin-bottom: 15px;
}

.content img{
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}
.footer h2{}
.footer h4{}

.img_left{
    float: left;
}

.img_right{
    float: right;
}

.border{
    border: #fff 10px dashed;
    border-radius: 40px;
}

.content>p:first-of-type{
    color: red;
}