body{
    background-color: darkcyan;
}
            h1 {
                font-size: 40px;
                color: red;
            }
        
            h2 {
                font-size: 25px;
                color: greenyellow;
                font-style: oblique;
            }
        
            P {
                font-size: 1em;
                color: blueviolet;
                line-height: 1em;
                letter-spacing: 0em;
                font-weight: lighter;
                font-style: normal;
                text-align: justify;

            }
