@charset "utf-8";
@import url("reset.css");

div{
    background-image: url(./banner.jpg);
    box-sizing: border-box;
    width: 1200px;
    height: 350px;
    margin: auto;
    position: relative; /*此行為限制盒子內的h1及p的定位點以盒子邊界做計算*/
}

h1{
    background-color: green;
    /*當position為absolute時，需要搭配left/right and top/bottom為整組的設定*/
    position: absolute;
    left: 650px;
    top: 130px;
    z-index: 1; /*設定標籤的層次順序為1，順序越靠後，會壓掉順序數字小的標籤*/
}

p{
    background-color: aqua;
    /*當position為absolute時，需要搭配left/right and top/bottom為整組的設定*/
    position: absolute;
    left: 650px;
    top: 180px;
    margin-right: 100px; /*設定文字右側距離為100px(margin-向外推)*/
    z-index: 2; /*設定標籤的層次順序為2，順序越靠後，會壓掉順序數字小的標籤*/
}
