*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(../../share/bg.gif);
}
.container{
    background-color: white;
    width: 1200px;
    margin: auto;
}

.header{
    background-color: beige;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.header h1{

}
.header h1 img{

}
.header ul{
    display: flex;
    align-items: center;
}
.header li{
    list-style: none;
    margin-right: 5px;
}
.header li a{}
.header li a:hover{
    color: red;
}

.banner{}
.banner img{
    vertical-align: bottom;
}

.flex_box{
    display: flex;
}
.nav{
    background-color: violet;
    width: 150px;
    padding: 20px;
    box-sizing: border-box;
}
.nav ul{
 
}
.nav li{
    list-style: none;
}
.nav li span{
    vertical-align: bottom;
}
.nav li a {
    display: block;
    height: 50px;
    text-decoration: none;
    border-bottom: black 5px dashed;
}
.nav li a:hover{
    color: white;
}

/*CSS偽類使用說明：https://www.oxxostudio.tw/articles/201405/css-selector.html*/
.nav li:last-child a{
    border: none;
}

.content{
    background-color: #F8C3CD;
    width: 1050px;
}
.content p{}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}
.footer h2{}
.footer h4{}