*{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
body{
    background-color: aqua;
}
.container{
    background-color: cornsilk;
    width: 1200px;
    margin: auto;
}

.header{}
.header h1{}
.header h1 img{}



.nav{}
.nav ul{}
.nav li{}
.nav li a{}
.nav li a:hover{}



.content{}
.content h2{}
.content p{}
.content p img{}



.footer{}
.footer h1{}
.footer h2{}

