body{
    background-color: burlywood;
}

.box{
    background-color: darkturquoise;
    width: 1200px;
    margin: auto;
    padding: 30px;
    font-family: Verdana, Geneva, 標楷體, sans-serif;
}

h1{
 
}