/*Style.css為此資料夾套用的版面設定*/
a{
    /*background-color: yellow;*/
        /*以下為漸層的css語法t_t*，參考網址-> https: //www.colorzilla.com/gradient-editor//
        background: -moz-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(154, 237, 47, 0.62) 38%, rgba(125, 185, 232, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(154, 237, 47, 0.62) 38%, rgba(125, 185, 232, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(30, 87, 153, 1) 0%, rgba(154, 237, 47, 0.62) 38%, rgba(125, 185, 232, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#007db9e8', GradientType=0);
        /* IE6-9 */

    display: block;
    width: 60px;
    text-align: center; /*水平置中*/
    height: 80px; /*盒高*/
    line-height: 80px; /*行高*/
    text-decoration: none; /*隱藏底線*/
    /*border: blue 1px dashed; 設定邊界線*/
    border-top: cornflowerblue 8px double; /*設定上邊界線*/
    border-radius: 30%; /*設定全部邊角為圓角程度（可為百分比或px）*/
}

a:hover{
    background-color: green; /*因a已完成盒化/區塊/隱藏底線設定，故省略*/
    border: rgb(0, 247, 255) 5px dashed;/*設定邊界線*/
    border-radius: 10px 20px 5px 25px; /* /*分別設定左上->右上->右下->左下邊角*/
}