@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
	}
body{
	background-color:#CCC;}
h1{
	font-size:60px;
	text-align:center;
	margin:10px;
	/*在css的設定內放入google線上字型的css設定*/
	font-family: 'Noto Sans TC', sans-serif;
}

h2{
	font-style: normal;
	text-align: center;
	font-size: 60px;
	/*在css的設定內放入google線上字型的css設定*/
	/*font-family: 'Yuji Hentaigana Akari', cursive;*/

	/*套用載入的字型(*font-family: 載入字型的關鍵字*/
	font-family: "NEORD";
}

.wrapper{
	background-color:#FFF;
	width:1200px;
	margin:20px auto;
	padding:20px;
	display:flex;
	justify-content:space-around;
	font-size:20px;
	}

.box{
	width:30%;
	padding:20px;
	box-sizing:border-box;
	border:#333 3px solid;
	border-radius:20px;

	}
/*==============================*/
.box1{
	font-family: 'Sometype Mono', monospace;
	background-color:#F90;
	}

span{
	font-family: Entypo;
	font-size: 80px;
	/*在同一行的行高置中對齊*/
	vertical-align: middle; 
}
/*==============================*/
.box2{
	background-color:#9C0;
}

/*==============================*/	
.box3{
	background-color:#09F;
}


	
/*======字型嵌入======*/
/*
step1 在同資料夾內放入要載入的字型
step2 設定載入字型的關鍵字(font-family: NEORD)
step3 設定載入字型的路徑
src: url(./NEORD___.ttf)
*/
@font-face {
	font-family: NEORD;
	src: url(./NEORD___.ttf);
}

@font-face {
	font-family: "3Dumb";
	src: url(./3Dumb-webfont.ttf);
}

@font-face {
	font-family: Entypo ;
	src: url(./Entypo-webfont.ttf);
}

/*
  可變式圖示：
  step2 複製該icon的css語法貼上css檔案內
*/
.material-symbols-outlined {
  font-variation-settings:'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 24;
  font-size: 50px;
  color: aqua;
}







