@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
	}
body{
	background-color:#CCC;}
h1{
	font-size:60px;
	text-align:center;
	margin:10px;
	/*在css的設定內放入google線上字型的css設定*/
	font-family: 'Noto Sans TC', sans-serif;
}

h2{
	font-style: normal;
	text-align: center;
	/*在css的設定內放入google線上字型的css設定*/
	font-family: 'Yuji Hentaigana Akari', cursive;
}
.wrapper{
	background-color:#FFF;
	width:1200px;
	margin:20px auto;
	padding:20px;
	display:flex;
	justify-content:space-around;
	font-size:20px;
	}

.box{
	width:30%;
	padding:20px;
	box-sizing:border-box;
	border:#333 3px solid;
	border-radius:20px;

	}
/*==============================*/
.box1{
	font-family: 'Sometype Mono', monospace;
	background-color:#F90;
	}

/*==============================*/
.box2{
	background-color:#9C0;
}

/*==============================*/	
.box3{
	background-color:#09F;
}


	
/*======字型嵌入======*/







